.item.item-trns {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}
.items.items-trns {
	border-color: rgba(0, 0, 0, 0);
  color: white;
	background-color: rgba(0, 0, 0, 0);
}

.text-input::-moz-placeholder {
  color: white;
}

.text-input:-ms-input-placeholder {
  color: white;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: white;
}

.btn-color {
	background-color: rgba(88, 0, 0, 0.582);
	color: white;
	height: 35px;
}

.btn-color:focus {
	background-color: rgba(88, 0, 0, 0.582);
	color: white;
	height: 35px;
}

.btn-white {
	color: white;
}

page-login {
  ion-content {
    background-image: url('https://images.pexels.com/photos/107958/pexels-photo-107958.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
    background-size: cover;
    background-position-x: 50%;
  }
  .bar-buttons,
  .toolbar-title {
    color: #fff;
	}
}