<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ tip.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <!-- INFORMACION DE PRODUCTOS -->
    <div>
      <div *ngIf="tip.picture" id='iframe'>
        <img class="image-slides2" [src]="tip.picture | sanitizer">
      </div>
      <p class="text center">
        <strong>
          <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción:
        </strong> {{tip.description}}
      </p>
    </div><br/>

    <div *ngIf="tip.link" padding>
      <button ion-button block type="button" icon-start color="{{ btnColor!=null?btnColor:'primary' }}" (click)="openBrowser(tip.link)">
        <ion-icon ios="ios-link" md="md-link"></ion-icon>
        Link Externo
      </button>
    </div>

    <!-- COMENTARIOS DE USUARIOS -->
    <div>
      <ion-card *ngFor="let c of comments">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ c.picture }}">
        </ion-avatar>
        <h2>{{ c.user }}</h2>
        <p>{{ c.fecha }}</p>
      </ion-item>
      <ion-card-content>
        <p>{{ c.comment }}</p>
      </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-fab right bottom>
    <button ion-fab (click)="openPage(tip.id)" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
    </button>
  </ion-fab>
</ion-content>