<ion-header>
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Proyectos</ion-title>
  </ion-toolbar>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-searchbar id="myInput" [(ngModel)]="search" autofocus
    (ionChange)="searchTable()" (keyup)="searchTable()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="+membresiaClient >= +nivelMembresia">
    <div *ngFor="let p of news" id="myList">
      <ion-card (click)="detailTip(p.id)">
        <ion-card-header>
          <ion-card-title>{{p.title}}</ion-card-title>
        </ion-card-header>
        <img src="{{ p.picture }}"/>
      </ion-card>
    </div>
  </div>
</ion-content>
