<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Documentos</ion-title>
  </ion-navbar>
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">    
    <ion-searchbar id="myInput" [(ngModel)]="search" autofocus 
    (ionChange)="searchTable()" (keyup)="searchTable()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <div *ngFor="let x of products" id="myList">
    <ion-item-sliding *ngIf="x.archivo">
      <button ion-item (click)="openBrowser(x.archivo, x.name)">
        <ion-avatar item-start>
          <img src="https://graficasizquierdo.es/wp-content/uploads/2017/04/pdf.png">
        </ion-avatar>
        <h2>{{ x.name }}</h2>
        <p>{{ x.description }}</p>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(x.id)">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
          Eliminar
        </button>
        <button ion-button color="primary" (click)="openForm(x.id)">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
          Editar
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding *ngIf="!x.archivo">
      <button ion-item (click)="documentEmpty()">
        <ion-avatar item-start>
          <img src="https://graficasizquierdo.es/wp-content/uploads/2017/04/pdf.png">
        </ion-avatar>
        <h2>{{ x.name }}</h2>
        <p>{{ x.description }}</p>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(x.id)">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
          Eliminar
        </button>
        <button ion-button color="primary" (click)="openForm(x.id)">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
          Editar
        </button>
      </ion-item-options>
    </ion-item-sliding>
    </div>
  </ion-list>

  <!-- BOTON AGREGAR -->
  <ion-fab right bottom>
    <button ion-fab (click)="openForm()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
