<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>Información</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- MAPS -->
  <div style="height: 400px; width: 100%;" id="map"></div>

  <div padding *ngIf="data2">
    <p class="mayusculas text"><ion-icon name="person"></ion-icon> <strong>Usuario: </strong> {{data2.clientes.firstname}} {{data2.clientes.lastname}}</p>
    <p class="mayusculas text"><ion-icon name="phone-portrait"></ion-icon> <strong>No. Teléfono: </strong> {{data2.clientes.phone}}</p>
    <p class="mayusculas text"><ion-icon name="calendar"></ion-icon> <strong>Fecha: </strong> {{data2.fecha}}</p>
    <p class="mayusculas text"><ion-icon name="time"></ion-icon> <strong>Hora: </strong> {{data2.hora}}</p>
    <img src="{{ data2.clientes.picture }}" style="display: block; width: 200px; height: auto; margin-left: auto; margin-right: auto; 
      border: 3px solid white; background-color: black; border-radius: 20%;">
  </div>
</ion-content>