<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">    
    <ion-title>Horarios</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-list>
      <ion-item *ngFor="let x of schedules">
        <h2><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  {{ x.title }}</h2>
        <p>{{x.description}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>