<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="idUser == 49">Chat Coach Online</ion-title>
    <ion-title *ngIf="idUser != 49">Mensajería</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="selectItem == 'mensajes'">
    <div *ngIf="+membresiaClient >= +nivelMembresia">
      <ion-list no-lines>
        <ion-item *ngFor="let m of messages" (click)="messagesClientUser(m.id)">
          <ion-thumbnail item-start>
            <img src="{{ m.picture }}">
          </ion-thumbnail>
          <h2>{{ m.user }}</h2>
        </ion-item >
      </ion-list>
    </div>
  </div>

  <ion-fab right bottom *ngIf="+membresiaClient >= +nivelMembresia">
    <button ion-fab (click)="sendMessage()">
      <ion-icon ios="ios-send" md="md-send"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
