<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Usuarios
    </ion-title>
  </ion-navbar>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-searchbar id="myInput" [(ngModel)]="search" autofocus 
    (ionChange)="searchTable()" (keyup)="searchTable()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="selectItem == 'users'" id="myList">
    <ion-item ion-item *ngFor="let u of users">
      <ion-toggle (ionChange)="create(u.id)" *ngIf="u.staff == 0"></ion-toggle>
      <ion-toggle (ionChange)="delete(u.idStaff)" checked="true" *ngIf="u.staff == 1"></ion-toggle>
      <ion-thumbnail item-start>
        <img src="{{ u.picture }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ u.firstname }} {{ u.lastname }}</h2>
        <p>{{ u.email }}</p>
      </ion-label>
    </ion-item>
  </ion-list> 
</ion-content>
