<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Comentarios de Proyectos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
    <!--COMENTARIO-->
    <ion-list no-lines >
      <ion-item>
        <ion-label floating><ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>  Comentario</ion-label>
        <ion-textarea type="text"
        [(ngModel)]="comment.comment" name="comment" required>
        </ion-textarea>
      </ion-item>
        <button ion-button block type="submit" [disabled]="btnDisabled" color="{{ btnColor!=null?btnColor:'primary' }}">Agregar Comentario</button>
    </ion-list>
  </form>
</ion-content>