<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pausa Activa</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <ion-list  *ngIf="+membresiaClient >= +nivelMembresia">
    <ion-item *ngFor="let x of table" (click)="openForm(x.id)">
      <div item-start>
        <img class="image-blog" *ngIf="x.picture"
        src="{{ x.picture }}">
        <img class="image-blog" *ngIf="!x.picture"
        src="http://conozcasucanton.com/wp-content/uploads/sites/11/2016/07/icono_pesa.png">
      </div>
      <h2>{{ x.title }}</h2>
      <p class="contenido">{{ x.description }}</p>
    </ion-item>
  </ion-list>
  
</ion-content>