<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ news.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <iframe *ngIf="trustedVideoUrl" width="100%" height="315" [src]="trustedVideoUrl" frameborder="0" allowfullscreen></iframe>

  <div>
    <p class="text center">
      <strong>
        <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción:
      </strong> {{news.description}}
    </p>
    <div *ngIf="news.link" padding>
      <button ion-button block type="button" icon-start (click)="openBrowser(news.link)"  color="{{ btnColor!=null?btnColor:'primary' }}">
        <ion-icon name="link"></ion-icon>
        Link Externo
      </button>
    </div>
    <!-- COMENTARIOS DE LOS USUARIOS -->
    <div>            
      <ion-card *ngFor="let c of comments">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{ c.picture }}">
          </ion-avatar>
          <h2>{{ c.user }}</h2>
          <p>{{ c.fecha }}</p>
        </ion-item>
        <ion-card-content>
          <p>{{ c.comment }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-fab right bottom>
    <button ion-fab (click)="openPage(news.id)">
      <ion-icon ios="ios-chatboxes" md="md-chatboxes"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

