<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
    <div *ngIf="categorie.picture" id='iframe'>
      <img class="image-slides2" id="imgAvatar" alt="Avatar" [src]="categorie.picture | sanitizer">
    </div>
    <!--NOMBRE-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Nombre</ion-label>
      <ion-input type="text"
      [(ngModel)]="categorie.name" name="name" required>
      </ion-input>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción</ion-label>
      <ion-textarea type="text"
      [(ngModel)]="categorie.description" name="description" required>
      </ion-textarea>
    </ion-item>
    <!--MOSTRAR-->
    <ion-item>
      <ion-label>Mostrar Descripción</ion-label>
      <ion-checkbox [(ngModel)]="categorie.estado" name="state"></ion-checkbox>
    </ion-item>

    <!--IMAGEN DE LA LIBRERIA-->
    <!--<div class="upload-btn-wrapper" *ngIf="categorie.id">
      <button style="width: 100%" ion-button block icon-start outline type="button" 
      color="{{ btnColor!=null?btnColor:'primary' }}" (click)="getImage()">
        <ion-icon ios="ios-image" md="md-image"></ion-icon>
        Obtener Imagen de la Biblioteca
      </button>
    </div>
    <div class="upload-btn-wrapper" *ngIf="categorie.id">
      <button style="width: 100%" ion-button block icon-start outline type="button" 
      color="{{ btnColor!=null?btnColor:'primary' }}" (click)="takePhoto()">
        <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
        Tomar Fotografía
      </button>
    </div>
    <div class="upload-btn-wrapper" *ngIf="categorie.id">
      <button style="width: 100%" ion-button block icon-start outline type="button" 
      color="{{ btnColor!=null?btnColor:'primary' }}" (click)="cropImage()">
        <ion-icon ios="ios-crop" md="md-crop"></ion-icon>
        Cortar Imagen
      </button>
    </div>
    <div class="upload-btn-wrapper" *ngIf="categorie.id">
      <button style="width: 100%" ion-button block icon-start outline type="button" 
      color="{{ btnColor!=null?btnColor:'primary' }}" (click)="uploadImage()">
        <ion-icon ios="ios-image" md="md-image"></ion-icon>
        Subir Imagen
      </button>
    </div>-->
    <!--IMAGEN-->
    <div class="upload-btn-wrapper" *ngIf="categorie.id">
      <button style="width: 100%" ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}" >
        <ion-icon ios="ios-image" md="md-image"></ion-icon>
        Subir Imagen
      </button>
      <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar" (change)="uploadImages($event,'avatar')" (click)="permission()"/>
    </div>
    <button ion-button block type="submit" icon-start color="{{ btnColor!=null?btnColor:'primary' }}" [disabled]="disabledBtn">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>
</ion-content>
