<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Alertas</ion-title>
    <!--<ion-buttons end>
      <button ion-button icon-only (click)="startBackgroundGeolocation()">
        <ion-icon name="play"></ion-icon>
      </button>
      <button ion-button icon-only (click)="stopBackgroundGeolocation()">
        <ion-icon name="pause"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-list-header>
      Alertas Entrantes
    </ion-list-header>
    <ion-item-sliding *ngFor="let x of table">
      <ion-item *ngIf="x.app == userID" (click)="openForm(x.id)">
        <label>
          <h2><ion-icon name="time"></ion-icon>  {{x.hora}}</h2>
          <h3><ion-icon name="calendar"></ion-icon>  {{x.fecha}}</h3>
          <p><ion-icon name="information-circle"></ion-icon> {{x.description}}</p>
          <p class="mayusculas" *ngIf="x.clientes"><ion-icon name="person"></ion-icon> {{x.clientes.firstname}} {{x.clientes.lastname}}</p>
        </label>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(x.id)">
          <ion-icon name="trash"></ion-icon>
          Eliminar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!--<ion-list>
    <ion-item *ngFor="let log of logs">
      {{ log }}
    </ion-item>
  </ion-list>-->
</ion-content>