<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Boton de Alerta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button class="button-alert button5-alert" color="danger" icon-start (click)="saveChanges()">
    <ion-icon name="notifications-outline"></ion-icon>SOS
  </button>

  <ion-list>
    <ion-list-header>
      Envío de Alertas
    </ion-list-header>
    <div *ngFor="let x of table">
      <ion-item *ngIf="x.cliente == data.cliente">
        <label>
          <h2><ion-icon name="time"></ion-icon>  {{x.hora}}</h2>
          <h3><ion-icon name="calendar"></ion-icon>  {{x.fecha}}</h3>
          <p><ion-icon name="information-circle"></ion-icon> {{x.description}}</p>
        </label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>