.button-alert {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 80px;
  height: 50%;
  width: 100%;
}
.button5-alert {border-radius: 50%;}