<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mi membresía</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="">
  <form>
    <div>
      <img src="{{ profilePicture }}"
      style="display: block; width: 250px; height: auto; margin-left: auto; margin-right: auto;">
      <h3 class="text center">{{ user }}</h3>
      <h6 class="text center">{{ email }}</h6><br>
      <p class="text center" *ngIf="data.tipoNivel == 0">
        <strong>
          <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>  Estado:
        </strong> Inactivo
      </p>
      <p class="text center" *ngIf="data.tipoNivel == 1">
        <strong>
          <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>  Estado:
        </strong> Activo
      </p>
      <p class="text center" *ngIf="data.tipoNivel == 2">
        <strong>
          <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>  Estado:
        </strong> Activo
      </p>
      <p class="text center" *ngIf="data.tipoNivel == 3">
        <strong>
          <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>  Estado:
        </strong> Activo
      </p>
      <p class="text center" *ngIf="data.tipoNivel == 4">
        <strong>
          <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>  Estado:
        </strong> Activo
      </p>
      <p class="text center" *ngIf="data.inicioMembresia ">
        <strong>
          <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Inicio de Membresía:
        </strong> {{fechaInicio}}
      </p>
      <p class="text center" *ngIf="data.finMembresia ">
        <strong>
          <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Fin de Membresía:
        </strong> {{fechaFin}}
      </p>
      <!--MEMBRESIAS-->
      <div *ngIf="data.opcion13=='0'">
        <p class="text center" *ngIf="data.membresias">
          <strong>
            <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Membresía Adquirida:
          </strong> {{ data.membresias.name }}
        </p>
      </div>
      <!--REFERENCIA-->
      <div *ngIf="data.opcion13=='1'" >
        <p class="text center" *ngIf="data.referencia">
          <strong *ngIf="data.referencia">
            <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Referido por:
          </strong> {{ data.referencias.firstname }} {{ data.referencias.lastname }} 
        </p>
      </div>
      <!--COMERCIO-->
      <div *ngIf="data.opcion13=='2'">
        <p class="text center" *ngIf="data2">
          <strong >
            <ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Membresía Comercial por:
          </strong> {{ data2.firstname }} {{ data2.lastname }} 
        </p>
      </div>
      <p class="text center" *ngIf="data.tipoNivel">
        <strong>
          <ion-icon ios="ios-star-half" md="md-star-half"></ion-icon>  Membresía de Nivel:
        </strong> {{data.tipoNivel}}
      </p>
      <div class="center">
        <ngx-barcode [bc-element-type]="elementType" [bc-value]="value" [bc-format]="format" [bc-line-color]="lineColor"
        [bc-width]="width" [bc-height]="height" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font"
        [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background"
        [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight"></ngx-barcode>
      </div>
    </div>
  </form>
</ion-content>
