<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ data.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <div id='iframe'>
    <div *ngIf="data.picture" id='iframe'>
      <img class="image-slides2" [src]="data.picture | sanitizer">
    </div>
  </div>

  <!-- INFORMACION -->
  <div>
    <h2 class="text center" *ngIf="data.title">{{data.title}}</h2>
    <p class="text center" *ngIf="data.description">{{data.description}}</p>

    <button *ngIf="data.link1" ion-button block type="button" icon-start (click)="openBrowser(data.link1)" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon name="link"></ion-icon>
      Link Externo
    </button>
  </div>
</ion-content>