<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Beneficios</ion-title>
  </ion-navbar>
  <!-- ION TOOLBAR -->
  <ion-toolbar color="{{ navColor!=null?navColor:'primary' }}">
    <ion-segment [(ngModel)]="selectItem" color="white">
      <ion-segment-button value="beneficios" (click)="getAll(idUser)">
        Beneficios
      </ion-segment-button>
      <ion-segment-button value="comercios" (click)="getAllSecond(idUser)">
        Comercios
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>      
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="selectItem == 'beneficios'">
    <ion-item *ngFor="let x of table" (click)="openForm(x.id)">
      <ion-thumbnail item-start>
        <img *ngIf="x.picture" src="{{ x.picture }}">
        <img *ngIf="!x.picture" src="http://conozcasucanton.com/wp-content/uploads/sites/11/2016/07/icono_pesa.png">
      </ion-thumbnail>
      <h2 class="mayusculas">{{ x.title }}</h2>
      <p class="contenido">{{ x.description }}</p>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="selectItem == 'comercios'">
    <ion-item *ngFor="let x of table2" (click)="openForm2(x.id)">
      <ion-thumbnail item-start>
        <img *ngIf="x.picture" src="{{ x.picture }}">
        <img *ngIf="!x.picture" src="http://conozcasucanton.com/wp-content/uploads/sites/11/2016/07/icono_pesa.png">
      </ion-thumbnail>
      <h2 class="mayusculas">{{ x.title }}</h2>
      <p class="contenido">{{ x.description }}</p>
    </ion-item>
  </ion-list>

  <!--BENEFICIOS-->
  <ion-fab right bottom *ngIf="selectItem == 'beneficios'">
    <button ion-fab (click)="openForm()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>

  <!--COMERCIOS-->
  <ion-fab right bottom *ngIf="selectItem == 'comercios'">
    <button ion-fab (click)="openForm2()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
