<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">    
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="saveChanges()">
    <!--IMAGEN DE PRODUCTOS-->
    <div *ngIf="data.pictures!=null">
      <img src="{{ data.pictures }}" id="imgAvatar" alt="Avatar"
      style="display: block; width: 200px; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img style="display: none;" src="{{ data.picture }}" id="imgAvatar1" alt="Avatar1">
    </div>
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Titulo</ion-label>
      <ion-input type="text" maxlength="255" name="name" [(ngModel)]="data.name">
      </ion-input>
    </ion-item>
    <!--DESCRIPCION-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Descripción</ion-label>
      <ion-textarea type="text" maxlength="255" name="description" [(ngModel)]="data.description" rows="1" autosize>
      </ion-textarea>
    </ion-item>
    <!--PRECIO
    <ion-item>
      <ion-label floating><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Precio</ion-label>
      <ion-input type="number"
      [(ngModel)]="data.price" name="price" >
      </ion-input>
    </ion-item>
    <!--CANTIDAD
    <ion-item>
      <ion-label floating><ion-icon ios="ios-basket" md="ios-basket"></ion-icon>  Cantidad</ion-label>
      <ion-input type="number"
      [(ngModel)]="data.quantity" name="quantity">
      </ion-input>
    </ion-item>
    <!--COSTO
    <ion-item>
      <ion-label floating><ion-icon ios="ios-pricetag" md="md-pricetag"></ion-icon>  Costo</ion-label>
      <ion-input type="number"
      [(ngModel)]="data.cost" name="cost"
      ></ion-input>
    </ion-item>-->
    <!--CATEGORIA-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-apps" md="md-apps"></ion-icon>  Categoría</ion-label>
      <ion-select [(ngModel)]="data.category" name="category">
        <ion-option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</ion-option>
      </ion-select>
    </ion-item>

    <!--IMAGEN-->
    <div class="upload-btn-wrapper" *ngIf="data.id">
      <button style="width: 100%" ion-button block icon-start outline type="button" color="{{ btnColor!=null?btnColor:'primary' }}">
        <ion-icon ios="ios-document" md="md-document"></ion-icon>
        Adjuntar Documento
      </button>
      <input style="width: 100%" class="upload-btn-wrapper2 button-md invisible" type="file" id="avatar" (change)="uploadDocument($event,'avatar')"/>
    </div>
    <button ion-button block type="submit" icon-start [disabled]="disabledBtn" color="{{ btnColor!=null?btnColor:'primary' }}">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>
</ion-content>