<ion-header>
  <ion-navbar color="{{ navColor!=null?navColor:'primary' }}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Social</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let x of table" (click)="openForm(x.id)">
      <div *ngIf="x.user == idUser">
        <div item-start>
          <img class="image-blog" *ngIf="x.picture"
          src="{{ x.picture }}">
          <img class="image-blog" *ngIf="!x.picture"
          src="https://www.alimmenta.com/wp-content/uploads/2018/07/desayunos-para-adelgazar.jpg">
        </div>
        <h2>{{ x.title }}</h2>
        <p class="contenido">{{ x.description }}</p>
      </div>
    </ion-item>
  </ion-list>

  <!-- BOTON AGREGAR RETO -->
  <ion-fab right bottom>
    <button ion-fab (click)="openForm()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>